%header
  %nav.round
    %ul
      %li= link_to_unless_current "Home", '#'
      |
      %li= link_to_unless_current "Help", '#'
      |
      %li= link_to_unless_current "Sign in", '#'
  = image_tag("logo.png", :alt => "HandsomeFencer", :class => "round")

